@model NewProjectCAS.Models.SupplierDashboardModel
@{ ViewBag.Title = "Dashboard"; }

<div class="form-row" style="margin-left:-15px">
    <div class="col-md-3">



        <div class="w3-sidebar w3-light-grey w3-bar-block" style="height:835px;background-color:darkgrey">
            <h1 class="text-center">Menu</h1>
            <br><br>
            <div class="container text-left col-sm-2" style="font-size:20px">
                @using (MyDatabseEntities db = new MyDatabseEntities())
                {
                    int mid = Convert.ToInt32(Session["MemberId"]);
                    var getdata = db.Suppliers.FirstOrDefault(a => a.MemberId == mid);

                    if (getdata == null)
                    {
    <ul>
        <li>@Html.ActionLink("Dashboard", "GetDashboard", "Supplier")<br><br /></li>
        <li>@Html.ActionLink("Edit_Profile", "GetSupplierData", "Supplier")</li>
    </ul> }
                    else
                    {
    <ul>
        <li>@Html.ActionLink("Dashboard", "GetDashboard", "Supplier")<br><br /></li>
        <li>@Html.ActionLink("Edit_Profile", "GetSupplierData", "Supplier")<br><br /></li>
        <li>@Html.ActionLink("Change_Password", "ChangePassword", "Supplier")<br><br /></li>
        <li>@Html.ActionLink("View_Order_Detail", "ViewPatientOrder", "Supplier")</li>
    </ul>}
                }

            </div>
        </div>






    </div>
    <div class="col-sm-9">
        <div>
            <div class="container text-center">
                <h2><b>Welcome to Supplier Dashboard</b></h2>
            </div>
            <br><br><br><br />

            <div class="form-row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                    <div id="sdp1" class="img-circle text-center" style="width:300px;height:300px;padding-top:110px;background-color:lightcoral">
                        <h3>Total Order <b> @Model.TotalOrders</b></h3>
                    </div>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <div id="sdp1" class="img-circle text-center" style="width:300px;height:300px;padding-top:60px;background-color:lightseagreen">
                        <h3>Requested <b> @Model.Requested</b></h3>
                        <h3>Dispatched <b> @Model.Dispatched</b></h3>
                        <h3>Delivered <b> @Model.Delivered</b></h3>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <br /><br />

        </div>
    </div>
</div>



